<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
        <!--article_path helper returns "/articles/#{article.id}" 
        when given an article. We can use it to tidy up our links 
        in app/views/articles/index.html.erb:!-->
      <!--<a href="<%= article_path(article) %>">
        <%= article.title %>
      </a>!-->

      <!--link_to helper renders a link with its first argument 
      as the link's text and its second argument as the link's destination. !-->  
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>